@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans&family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.App {
    width: 100%;
    background-color: #110934;
    padding: 5em;
    min-height: 100vh;
    position: relative;

    .header {
        margin: 0%;
        color: #8C78E8;
        background: #29157E;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .editor-container {
        width: 50%;
        margin: auto;

        #editor {
            width: 100%;
            min-height: 20em;
            max-height: 30em;
            outline: none;
            &::-webkit-scrollbar {
                display: block;
                width: 8px;
                background-color: #8C78E8;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #E5E0FA;
            }
            &::placeholder {
                color: #E5E0FA;
            }

        }
    }

    .preview-container {
        width: 75%;
        margin: auto;

        #preview {
            width: 100%;
            font-family: 'open sans', sans-serif;

            h1, h2, h3 {
                color: #110934;
            }

            code {
                background-color: #e5e0fa6b;
                color: #29157E;
            }

            blockquote {
                font-weight: 600;
                border-left: 4px solid #110934;
                padding-left: 1rem;
            }

            img {
                width: 100%;
            }

            table {
                border-collapse: collapse;

                th {
                    background-color: #110934;
                    color: #E5E0FA;
                    font-weight: 200;
                }

                td, th {
                    border: 2px solid #110934;
                    padding: 0.5rem;
                }
            }
        }
    }

    .style_edit-prev {
        background-color: #8C78E8;
        color: #E5E0FA;
        padding: 2em;
        margin-bottom: 5em;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.github_link {
    color: white;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    font-size: 1rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
}


@media screen and (max-width: 1000px) {
    .App {
        padding: 5em 0em;
    }

    .editor-container {
        width: 70% !important;
    }

    .preview-container {
        width: 80% !important;
    }
}

@media screen and (max-width: 750px) {

    html {
        font-size: 70%;
    }

    .App {
        background-color: #2b1972;
    }

    .editor-container {
        width: 90% !important;
    }

    .preview-container {
        width: 90% !important;
    }

    .github_link {
        font-size: 1.5rem;
        width: 4.5em;
    }

    .github_icon {
        font-size: 1.5rem;
    }
}